<header>
  <nav class="navbar navbar-expand-lg navbar-light container">
      <a class="navbar-brand" href="#">
          <img 
            [src]="logo" 
            alt="logo-image.png"
            class="w-25">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Aksesoris</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Electronic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Food</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Trending</a>
          </li>
        </ul>
      </div>
      <div class="d-flex">
         <button class="btn btn-danger mr-2 rounded">
              Sign In
         </button>
         <button class="btn btn-danger rounded">
              Sign Out
         </button>
      </div>
  </nav>
</header>

<main class="container">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" [src]="gambar1" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" [src]="gambar2" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" [src]="gambar3" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</main>